NODE_ENV=development
PORT=5000

HOST_APP_URL=http://localhost:3000
CUSTOMER_APP_URL=http://localhost:3001
SELLER_APP_URL=http://localhost:3002
ADMIN_APP_URL=http://localhost:3003
NEXT_PUBLIC_API_BASE_URL=http://localhost:5000/api

FRONTEND_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002,http://localhost:3003

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
